*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.keyboard-base{
    min-width: 1085px;
    padding: 20px;
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30,30px);
    grid-template-rows: repeat (5,60px);
    grid-gap: 5px;
}
.key{
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    grid-column: span 2;
    font: 500 20px '';
    text-align: center;
    padding: 17px;
    border: 2px solid black;
}
.key:hover{
    box-shadow:  inset 0 0 7px rgba(0,0,0,0.8);
}
.color{
    background-color: rgb(180, 180, 180);
}
.delete{
    grid-column: span 4;
}
.tab{
    grid-column: span 3;
}
.backslash{
    grid-column: span 3;
}
.capslock{
    grid-column: span 4;
}
.return{
    background-color: rgb(250, 140, 70);
    grid-column: span 4;
}
.leftshift{
    grid-column: span 5;
}
.rightshift{
    grid-column: span 5;
}
.leftctrl{
    grid-column: span 3;
}
.command{
    grid-column: span 3;
    font-size: 14px;
}
.space{
    background-color: rgb(250, 140, 70);
    grid-column: span 13;
}